body {
  background-color: #776642;
  margin: 0;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  transform: scale(4);
}

.calendar {
  fill: #1c1c0f;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  text-anchor: middle; /*Center text with coordinate*/
  cursor: pointer;
  user-select: none;
}

.clock-border {
  fill: transparent;
  stroke: #443516;
  stroke-width: 9;
}

.clock-border-black {
  fill: transparent;
  stroke: #1c1a12;
  stroke-width: 1;
}

.clock-border-brown {
  fill: transparent;
  stroke: #a19455;
  opacity: 70%;
  stroke-width: 1;
}

.minute-marker {
  fill: transparent;
  stroke: #1c1a12;
  stroke-width: 9;
  stroke-dasharray: 0.05 0.95;
  stroke-dashoffset: 1;
}

.hour-marker {
  fill: transparent;
  stroke: #1c1a12;
  stroke-width: 9;
  stroke-dasharray: 0.04 0.96;
  stroke-dashoffset: 0.01;
}

.hand {
  stroke: #1c1a12;
  stroke-width: 2;
  stroke-linecap: butt;
}

.hand-thick {
  stroke-width: 4;
}

.hand-second {
  stroke: #1c1a12;
  stroke-width: 1;
}

.center-circle {
  fill: #776642;
  stroke-width: 2;
  stroke: #1c1a12;
}
